<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.sn.zwcx.sdk">


    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".global.GlobalApplication"
        android:allowBackup="true"
        android:supportsRtl="true" >
    </application>

</manifest>